{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-transform-spread"],
    ["module-resolver", {
      "alias": {
        "@": "./src",
        "@config": "./src/config",
        "@party": "./src/party",
        "@assets": "./src/assets",
        "@components": "./src/components"
      }
    }]
  ]
}
